$border-color: #ccc;
$icon-color: #777;
$border-radius: 5px;
$transition-speed: 0.3s;

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

.search-input {
  padding: 10px;
  width: 50%;
  padding-right: 35px;
  text-align: center;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  outline: none;
  transition: $transition-speed;

  &:focus {
    border-color: darken($border-color, 20%);
  }
}

.search-icon {
  position: absolute;
  right: calc(25% + 10px);
  color: $icon-color;
  font-size: 16px;
  pointer-events: none;
  transition: opacity $transition-speed ease;
}

/* للشاشات الصغيرة */
@media (max-width: 600px) {
  .search-input {
    width: 80%;
  }

  .search-icon {
    right: calc(10% + 10px);
    font-size: 14px;
  }
}
